h1 {
  text-align: center;
  color: white;
  margin: 0px;
  padding: 20px;
}

body {
  background-image: url("pictures/gridBackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#toolBar {
  background-image: url("pictures/ground.jpg");
  padding: 20px;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: black;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}

.plot {
  height: 100px;
  width: 100px;
  background-image: url("pictures/ground.jpg");
  background-size: cover;
  /* position: absolute; */
  border: 1px solid black;
  border-radius: 10px;
  /* box-shadow: 10px 10px 5px black; */
}

.plant {
  z-index: 1;
  height: 50px;
  width: 50px;
  background-repeat: repeat;
  background-size: 50px 50px;
  /* display: inline-block; */
  /* position: absolute; */
  border: 0px solid black;
  border-radius: 10px;
}

.plantJ {
  z-index: 1;
  height: 50px;
  width: 50px;
  background-repeat: repeat;
  background-size: 50px 50px;
  /* display: inline-block; */
  /* position: absolute; */
  border: 0px solid black;
  border-radius: 10px;
}


/*Plot and plant labels*/
.widthLabel {
  z-index: 1;
  color: white;  
  position: absolute; 
  text-shadow: black 1px 1px 2px;
}

.heightLabel {
  z-index: 1;
  color: white;
  top: 45%;
  position: absolute;
  text-shadow: black 1px 1px 2px;
}

.plotWidthLabel {
    left: 45%;
    bottom: -20px;
}

.plotHeightLabel {
  right: -38px;
  transform: rotate(90deg);
}

.plantWidthLabel {
left: 30%;
  top: -20px;
}

.plantHeightLabel {
  left: -35px;
  transform: rotate(-90deg);
}

#grid .ui-selecting, #grid .ui-selected {
  border-color: white;
  border-width: thin;
}

#grid {
  position: relative;
}

#grid button {
  display: block;
  width: 60px;
  height: 50px;
}

#container {
  overflow: scroll;
-webkit-overflow-scrolling: touch;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: black;
  background-image: url("pictures/gridBackground3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* buttons */

#addPlot, #saveGarden, #deleteObject {
  background-color: white;
  color: black;
  font-size: 20px;
}

.addButton {
  background-size: cover;
  background-repeat: no-repeat;
}
.editButton{
  display: block;
  width:100%;
  height: auto;
  color:white;
  background-color: green;
}

#addPlant {
  background-image: url("pictures/plant.jpg");
}



 button{
  width: 80px;
  height: 70px;
  vertical-align: middle;
  font-size: 15px;
  border: solid 1px black;
  border-radius: 5px;
  background-color: white;
  margin: 2px;
}

/*This is the popup CSS*/
 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  align: center; 
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  border: 1px solid #222;
  width: 40%; /* Could be more or less, depending on screen size */
  padding-bottom: 40px;
  border-radius: 10px;
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}



/*.modal-content img{
	height: 50px;
	display: block;	
	margin: auto;
}*/

.formSection{	
	width: 80%;
	margin: 2px auto;
	display: block;
}

.splitLine label, .splitLine button, .splitLine input{
	width: 48%;
	margin: auto;
}

.splitLine label, .splitLine button, .splitLine input{
	display: inline-block;
	margin: 2px auto;
	box-sizing: border-box; 
}

.formSection input, .formSection button{
	height: 30px;
}
#picInput{
	width:65%;
}

#buttonBrowse{
	width: 32%;
}


#buttonAdd{
	background-color: #009900;
	color: #ffffff;
}

#buttonCancel{
	background-color: #cc3300; 
	color: #ffffff;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
} 


/*
//
This is the css for the image slideshow
//
*/



/* Position the image container (needed to position the left and right arrows) */
.mySlideShow{
width:100%;
margin:auto;
}

/* Hide the images by default */
.mySlides {    
  display: none;  
  width:25%;
margin:auto;  
}

.mySlides img{
	width: 100%;
	height: 200px;
}


.row img{
	height: 60px;
	width: 50px;
	margin: auto;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  top: 40%;
  width: 9%;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  display: inline-block;
}

/* Position the "next button" to the right */
.next {	
  right: 25%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

#caption{
	font-size: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 50px;
  height:60px;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*
//
End Image slide show css. 
//
*/
